<%= form_with(model: @employee, local: true,class: 'max-w-sm mx-auto py-4', data: { controller: 'employees--form' }) do |form| %>
  <div class="mb-5">
    <%= form.label 'nome', class: 'block mb-2 text-sm font-medium text-gray-900' %>
    <%= form.text_field :name, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', placeholder: 'John Doe', required: true %>
  </div>
  <div class="mb-5">
    <%= form.label 'Data de Nascimento',class: 'block mb-2 text-sm font-medium text-gray-900' %>
    <%= form.date_field :birth_date, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', required: true %>
  </div>
  <div class="mb-5">
    <%= form.label 'cpf', class: 'block mb-2 text-sm font-medium text-gray-900 uppercase' %>
    <%= form.text_field :id_document,
                        'data-employees--form-target' => "idDocument", 
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', 
                        placeholder: '123.456.789-00', 
                        required: true %>
  </div>
  <div class="mb-5">
    <%= form.label 'Salário', class: 'block mb-2 text-sm font-medium text-gray-900' %>
    <%= form.text_field :salary,
                        'data-employees--form-target' => "baseSalary",
                        placeholder: 'R$ 1.000,00', 
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', 
                        required: true %>
  </div>


  <div class="mb-5">
    <%= form.label 'Desconto INSS', class: 'block mb-2 text-sm font-medium text-gray-900' %>
    <%= form.hidden_field :inss_discount, 'data-employees--form-target' => "inssDiscount" %>
    <%= form.text_field :salary_discount, 
                        'data-employees--form-target' => "salaryDiscount",
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', 
                        disabled: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Cadastrar', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer' %>
    <%= link_to 'Voltar', employees_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
<% end %>