<div class="grid grid-cols-2 bg-gray-100 rounded-lg w-[600px] text-center">
  <div class="font-bold p-2 border-gray-300 border-b-2">
    Faixa salarial
  </div>
  <div class="font-bold border-gray-300 border-l-2 border-b-2 p-2">
    Empregados 
  </div>

  <% classificated_salaries.each do |classificated_salary| %>
    <div>
      De <%= to_currency(classificated_salary.min_range) %> a <%= to_currency(classificated_salary.max_range) %>
    </div>
    <div class="border-l-2 border-gray-300">
      <%= classificated_salary.employees_count %>
    </div>
  <% end %>
  <div>
    Acima de <%= to_currency(classificated_salaries.last.max_range) %>
  </div>
  <div class="border-l-2 border-gray-300">
    <%= out_of_range_classificated_salaries.employees_count  %>
  </div>
</div>
