<div class="p-4">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th class="p-4" scope="col"> Faixa salarial</th>
          <th class="p-4" scope="col">Empregados</th>
        </tr>
      </thead>
      <tbody>
        <% classificated_salaries.each do |classificated_salary| %>
          <tr class="bg-white border-b hover:bg-gray-50 cursor-pointer hover:text-gray-900">
            <td class="p-4">
              De <%= to_currency(classificated_salary.min_range) %> a <%= to_currency(classificated_salary.max_range) %>
            </td>
            <td class="p-4">
              <%= classificated_salary.employees_count %>
            </td>
          </tr>
        <% end %>
        <tr class="bg-white border-b hover:bg-gray-50 cursor-pointer hover:text-gray-900">
          <td class="p-4">
            Acima de <%= to_currency(classificated_salaries.last.max_range) %>
          </td>
          <td class="p-4">
            <%= out_of_range_classificated_salaries.employees_count  %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>